include LICENSE
include CITATION.cff
recursive-include scripts *.py
recursive-include tests *.py
include CHANGELOG.md
recursive-include benchmarks *.py
recursive-include docs *.md *.py *.html *.png *.svg
prune docs/_build
recursive-include examples *.py
